body {

    background: #eee;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
    

}

.photo {
    border-radius: 100%;
    border: 1px solid #505050;
}

#title, .subtitle, .post_title {
    color: rgb(150, 166, 167);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: blue;
}

.post_title {

    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{

    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}
.contacts_list{
    list-style-type: lower-roman;
    padding-left: 15px;
    color: blue;

}

.abiliit{

list-style-type: square;
padding-left: 15px;

}

